.cart-box{
    border: 3px solid black;
    height: 80vh;
}

.navbar{
    background-color: #660033;
    color: white
}

.nav-link{
    color: white;
}

.Logo{
    color: white;
}

.cart-items{
   text-align: center;
}

.page-footer{
    color: #660033;
    position: relative;
    bottom: 0;
    width: 100%;
}

.container-fluid{
    position: bottom;
    bottom: 0;
    position: relative;
}

.login{
    width: 100%;
    margin: 50px;
}

#footer{
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 110px;
    background: #660033;
    color: white;
}

.products-main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.listed-product{
    margin-top: 15px;
    padding: 1em;
    border: 3px black #660033;
    background-color: whitesmoke;
}

.product_link{
    color:black;
}